/* Phone Layout */
@media screen and (max-width: 800px) {
    #root {
        flex-direction: column;
    }
    .main {
        font-size: 3rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
/* Desktop Layout */
@media screen and (min-width: 800px) {
    #root {
    }
    .main {
        width: calc(100% - 8rem);
        margin-left: 6rem;
        padding-left: 1rem;
        padding-right: 1rem
    }
}