/* Phone Layout */
@media screen and (max-width: 800px) {
    #root {
        display: flex;
        flex-direction: column;
    }
    .main {
        padding-left: 1rem;
        padding-right: 1rem;
        flex-grow: 10;
    }
}
/* Desktop Layout */
@media screen and (min-width: 801px) {
    #root {
        display: flex;
        flex-direction:row-reverse;
    }
    .main {
        width: 1rem !important;
        padding-left: 1rem;
        padding-right: 1rem;
        flex-grow: 1;
    }
}