.footBar {
    background-color: #F0F0F0;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    box-shadow: black -5px 1px 10px 1px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 5rem !important;

    /* Fix FootBar*/
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
}
.footBar .menuIcon {
    flex-grow: 1;
}