.sideBar {
    background-color: #F0F0F0;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    box-shadow: black -5px 1px 10px 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 6rem;
    height: 100%;
    flex-grow: 1;
    flex-shrink: 0;
}

.sideBar .menuIcon:first-child {
    margin-top: 3rem;
}
.sideBar .menuIcon {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}