.sideBar {
    background-color: #F0F0F0;
    border-top-right-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
    box-shadow: -2px 0 7px 0 rgba(0,0,0,0.75);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    /*flex-grow: 1;*/
    /*flex-shrink: 0;*/
    width: 4rem;
    position: fixed;
    top:0;
    left: 0;
}

.sideBar .menuIcon:first-child {
    margin-top: 3rem;
}
.sideBar .menuIcon {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}